In [91]:
import pandas as pd

In [92]:
df = pd.DataFrame()

In [93]:
df['column_a'] = [1, 2, 3]

In [94]:
df

   column_a
0         1
1         2
2         3

In [98]:
df['column_b'] = '1', '2', '345'

In [99]:
df

   column_a column_b
0         1        1
1         2        2
2         3      345

In [100]:
df['column_b'] = df['column_b'].astype(int)

In [101]:
df

   column_a  column_b
0         1         1
1         2         2
2         3       345

In [102]:
df['column_sum'] = df.sum(axis=1)

In [103]:
df

   column_a  column_b  column_sum
0         1         1           2
1         2         2           4
2         3       345         348

In [104]:
df['formula'] = df['column_a'] / df['column_b']

In [106]:
df['formula'] = df['formula'].round(2)

In [107]:
df = df.loc[abs(df['column_sum'] - df['formula']) > 5]

In [108]:
df

   column_a  column_b  column_sum  formula
2         3       345         348     0.01

In [72]:
result = df[['column_a', 'formula']]

In [73]:
result

   column_a  formula
2         3       15